USE [master]
GO
/****** Object:  Database [PhonebookDb]    Script Date: 11/14/2019 12:18:47 AM ******/
CREATE DATABASE [PhonebookDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Phonebook', FILENAME = N'C:\Users\Nurbolat\Phonebook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Phonebook_log', FILENAME = N'C:\Users\Nurbolat\Phonebook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhonebookDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhonebookDb]
GO
USE [PhonebookDb]
GO
/****** Object:  Table [dbo].[Phonebook]    Script Date: 11/14/2019 12:18:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phonebook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Phonebook] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Phonebook] ON 

INSERT [dbo].[Phonebook] ([Id], [Phone], [Name]) VALUES (1, N'+7 (701) 123-4567', N'Mickey Mouse')
INSERT [dbo].[Phonebook] ([Id], [Phone], [Name]) VALUES (2, N'+7 (702) 789-4564', N'Donald Duck')
INSERT [dbo].[Phonebook] ([Id], [Phone], [Name]) VALUES (3, N'+7 (703) 159-7894', N'Bugs Bunny')
SET IDENTITY_INSERT [dbo].[Phonebook] OFF
USE [master]
GO
